#dom-timer-main ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

#dom-timer-main li {
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
}

#dom-timer-main li:nth-child(odd) {
  background: #80808030;
}

#dom-timer-main li:nth-child(even) {
  background: #ffffff;
}

#dom-timer-main {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

input {
  height: 2em;
}

#dom-timer-main div {
  display: flex;
  width: 100%;
  flex-grow: 5 1;
}

#dom-timer-main div>input {
  flex-grow: 1;
  margin-right: 1em;
}

p.selector_name {
  width: 20em;
}

#reload_info {
  margin-top: 1em;
}

.hidden {
  display: none;
}